.card-layout {
    max-height:40% !important;
    min-height:250px !important;
}

.card {
    height:100% !important; 
}
.card-body-custom {
    position: relative;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 20%;
}
.card-link {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.card-link1{
    position: absolute;
    right: 125px;
    bottom: 10px;
}

.checked-button {
    min-width:100%;
}

