<div class="container-fluid main-container mb-2">
    <h1 style="text-align: center">These are the jobs your Genie Found!!!</h1>
    <div class="row" style="margin-top:2%;min-height: 600px; border: solid thin black;">
        <div class="col-lg-2 col-md-3 col-sm-12 pt-2" style="border-right: solid thin black;">
            <button type="button" (click)="goBackToMainPage()" class="btn btn-dark">Make A Wish Again</button>
            <br>
            <br>
            <h4>Apply Filters</h4>
            <br>
            <h5><i class="fa fa-map-marker" aria-hidden="true"></i> Locations</h5>
            <div *ngFor="let location of locations">
                <input type="checkbox" [(ngModel)]="location.Selected" /> {{location.Name}}
            </div>
            <br>
            <h5><i class="fa fa-briefcase" aria-hidden="true"></i> Experience</h5>
            <div *ngFor="let exp of experience">
                <input type="checkbox" [(ngModel)]="exp.Selected" /> {{exp.Name}}
            </div>
        </div>
        <div class="col-lg-10 col-md-9 col-12" style="height: 100%;">
            <div class="row">
                <div class="col-lg-4 card-layout" *ngFor="let job of requestedData | filterJobs: locations: experience "
                    style="padding-top:3%;">
                    <div class="card">
                        <div class="card-body card-body-custom">
                            <h5 class="card-title">
                                <i class="fa fa-laptop" aria-hidden="true"></i> {{job.title}}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <i class="fa fa-building" aria-hidden="true"></i> {{job.companyname}}
                            </h6>
                            <p class="card-text">
                                <i class="fa fa-wrench" aria-hidden="true"></i> {{job.skills}}
                            </p>
                            <button  (click)="jobDetail(job._id)" class="btn btn-dark card-link">Get
                                Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>