<div class="container-fluid" style="margin-top:2%; padding:2%; border: solid thick black">
    <div class="row">
        <div class="col-lg-5 col-12 text-center ">
            <div class="text-center ">
                <i class="fa fa-building size-class" aria-hidden="true"></i>
                <h3>{{job?.companyname}}</h3>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Job Title:</h3>
                </div>
                <div class="col-lg-6">
                    <h5>
                        {{job?.title}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Skills Required:</h3>
                </div>
                <div class="col-lg-6">
                    <h5>
                        {{job?.skills}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Location:</h3>
                </div>
                <div class="col-lg-6">
                    <h5>
                        {{job?.location}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Experience Required:</h3>
                </div>
                <div class="col-lg-6">
                    <h5>
                        {{job?.experience}}
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <button (click)="apply(job.applylink)" class="btn btn-dark apply">Apply for this job!</button>
                </div>
                <div class="col-4">
                    <button (click)="back()" class="btn btn-dark apply">Back To Wish</button>
                </div>
            </div>

        </div>
    </div>
</div>