<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-background">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/Genie.png" width="30" height="30" alt="">
            Job-Genie
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav ">
                <li>
                    <span class="navbar-text">
                        Welcome {{user?.name}}
                    </span>
                </li>
            </ul> -->
            <form class="navbar-nav form-inline nav-item my-2 my-lg-0">
                <a href="#" class="nav-link mr-sm-2 ">
                    Welcome {{user?.name}}
                </a>
                <button class="nav-link btn btn-secondary btn-margin"
                    (click)="logout()">
                    Log Out
                </button>
            </form>
    </div>
</nav>