<p-dialog class="align-class dialogue" [(visible)]="display" [modal]="true" [closable]="false" [showHeader]="false" >
        <div class="ui-g wrap">
            <div class="login-comment">
              <div class="content">
                  <div class="message">
                      <p> {{message}}</p>
                    </div>
                    <div class="spin">
                      <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
        </p-dialog>