<div class="container" style="min-height: 63%;">
    <div class="row main-item">
        <div class="col-2"></div>
        <div class="col-8">
            <img class="img-fluid" src="../../../assets/images/heading.png">
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 input-group mb-3 ui-fluid">
            <p-autoComplete class="form-control" [(ngModel)]="seletedData" [suggestions]="suggestionData"
                (completeMethod)="filteredData($event)" [inputStyle]="{'width':'500px'}" [minLength]="3"
                placeholder="Search By Skill/Job Title/Company" field="Name" [multiple]="true">
            </p-autoComplete>
            <div class="input-group-append">
                <button type="button" (click)="getRequestedData()" class=" btn btn-secondary btn-lg input-group-text"
                    id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="alert alert-warning col-8" role="alert" *ngIf="!validator">
            Sorry! Can't find results. Please try with other search options.
        </div>

    </div>
    <div class="row justify-content-md-center">
        <div class="col-2"></div>
        <div class="col-8 mt-4 text-center ">
            <h4>Will Make Any JOB Wish You Want Come True !!!</h4>
        </div>
        <div class="col-2"></div>
    </div>
</div>